* {
    box-sizing: border-box;
}
:root {
    --primary-color: #cad2c5 ;   /*olight*/
    --black-colour: #84a98c;       /*light2*/
}

/* Navbar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;  
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding: 0 5%;
    text-transform: uppercase;
    font-family: "Creattion Demo", Calibri, Tahoma, sans-serif;
}
.brand-title a {
    color: #cad2c5;
    text-decoration: none;
}
.navbar-links {
    height: 100%;
    text-align: center;
    padding: 0 10%;
}
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: var(--black-colour); 
}
.navbar-links li a:hover {
    color: var(--primary-color);
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .line {
    height: 3px;
    width: 100%;
    background-color: var(--black-colour);
    border-radius: 10px;
}
.mydiv {
    display: grid;
    padding-top: 10px;
    column-gap: 50px;
    row-gap: 50px;
    width: 1000px;
    margin: auto;
}
@font-face {
    font-family: 'Jo_wrote_a_lovesong';
    src: url(https://www.devonglide.com/Jo_wrote_a_lovesong.ttf);
  }

.container {
    background-color: #000637;
    display: flex;
    flex-direction: column;
    
    padding-top: 5%;
    max-width: 40rem;
    height: 100vh;
    margin: auto;
}
    
.inside {
    background-color: #162C80;
    min-height: 28rem;
    font-size: 3.75rem;
    color: rgb(249, 249, 249);
    padding:2.5rem 2rem 0rem; 
    font-family: "K2D", "Jo_wrote_a_lovesong";  
}
.home {
    color: #fff;
    padding-top: 3rem;
    font-size: 1.0rem;
    font-family: sans-serif;  
}

.image {
    width: 8rem;
    margin: -4rem auto;
    border-radius: 90px;

}
@media (max-width: 1112px) {
    body {
        color: #cad2c5;
        font-family: Calibri, Tahoma, sans-serif;
        font-size: 15px;
    }
    @font-face {
    font-family: 'Jo_wrote_a_lovesong';
    src: url(https://www.devonglide.com/Jo_wrote_a_lovesong.ttf);
  }

.container {
    background-color: #000637;
    display: flex;
    flex-direction: column;
    
    padding-top: 5%;
    max-width: 40rem;
    height: 100vh;
    margin: auto;
}
    
.inside {
    background-color: #162C80;
    min-height: 28rem;
    font-size: 3.75rem;
    color: rgb(249, 249, 249);
    padding:2.5rem 2rem 0rem; 
    font-family: "K2D", "Jo_wrote_a_lovesong";  
}
.home {
    color: #fff;
    padding-top: 3rem;
    font-size: 1.0rem;
    font-family: sans-serif;  
}

.image {
    width: 8rem;
    margin: -4rem auto;
    border-radius: 90px;

}
}

@media (max-width: 414px) {
    body {
        color: #cad2c5;
        font-family: Calibri, Tahoma, sans-serif;
        font-size: 15px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;    
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
