* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #2f3e46;
}

:root {
    --primary-color: #ED8A34;   /*orange*/
    --black-colour: #000;       /*black*/
}

/* Navbar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    text-transform: uppercase;
}
.navbar-links {
    height: 100%;
}
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: var(--black-colour); 
}
.navbar-links li a:hover {
    color: var(--primary-color);
}
.nav-button button{
    padding: 5px 15px;
    border-radius: 2rem;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color)
}
.nav-button button:hover {
    background-color: var(--primary-color);
    color: white;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.login {
    display: none;
}
.toggle-button .line {
    height: 3px;
    width: 100%;
    background-color: var(--black-colour);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;    
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .nav-button {
        display: none;
    }
    .login {
        display: block;
    }
}
