* {
    margin: 0;
}

@font-face {
    font-family: 'Jo_wrote_a_lovesong';
    src: url(https://www.devonglide.com/Jo_wrote_a_lovesong.ttf);
  }

.container {
    background-color: #000637;
    display: flex;
    flex-direction: column;
    
    padding-top: 10%;
    
    max-width: 40rem;
    height: 100vh;
    margin: auto;
}
    
.inside {
    background-color: #162C80;
    min-height: 28rem;
    font-size: 3.75rem;
    color: rgb(249, 249, 249);
    padding:2.5rem 2rem 0rem; 
    font-family: "K2D", "Jo_wrote_a_lovesong";  
}
.home {
    color: #fff;
    padding-top: 3rem;
    font-size: 1.0rem;
    font-family: sans-serif;  
}

.image {
    width: 5rem;
    margin: -5.5rem auto;
    border-radius: 90px;

}
